{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb20">
        Оценки за {{ week|date('W') }} неделю
    </h1>

    {% if subject %}
        <ol class="breadcrumb">
            <li><a href="{{ path('marks_page', {'parents_id': parents.id}) }}">Все предметы</a></li>
            <li class="active">{{ subject.title }}</li>
        </ol>
    {% endif %}

    <div class="jumbotron">
        {% form_theme filterForm 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form(filterForm) }}
    </div>

    {% for learner in parents.learners %}
        <div class="jumbotron">
            <p class="lead">{{ learner.title }}</p>

            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Учитель</th>
                    <th class="text-right">Оценка</th>
                    <th class="text-right">Дата</th>
                </tr>
                </thead>
                <tbody>
                {% for mark in marks %}
                    {% if mark.learner == learner %}
                        <tr class="{{ mark.color }}">
                            <td>
                                <a href="{{ path('marks_by_subject_page', {'parents_id': parents.id, 'subject_id': mark.subject.id}) }}">
                                    {{ mark.subject.title }}
                                </a>
                            </td>
                            <td>
                                {{ mark.teacher.title }}
                            </td>
                            <td class="text-right">
                                {{ mark.mark }}
                            </td>
                            <td class="text-right">
                                {{ mark.created|date('d.m.Y') }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}