{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb20">
        {% trans with {'%week%': week|date('W') } from "messages" %}marks_by_week{% endtrans %}
    </h1>

    {% if mother %}
        {% for learner in mother.learners %}
            <div class="jumbotron">
                <p class="lead">{{ learner.title }}</p>

                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>
                            {% if order == 'asc' %}
                                <a href="{{ path('marks_page_sort', {'motherId': mother.id, 'order': 'desc'}) }}">
                                    {% trans from "messages" %}subject.header{% endtrans %} &uarr;
                                </a>
                            {% else %}
                                <a href="{{ path('marks_page_sort', {'motherId': mother.id, 'order': 'asc'}) }}">
                                    {% trans from "messages" %}subject.header{% endtrans %} &darr;
                                </a>
                            {% endif %}
                        </th>
                        <th>
                            {% trans from "messages" %}learner.header{% endtrans %}
                        </th>
                        <th class="text-right">
                            {% trans from "messages" %}mark.header{% endtrans %}
                        </th>
                        <th class="text-right">
                            {% trans from "messages" %}date{% endtrans %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mark in marks %}
                        {% if mark.learner == learner %}
                            <tr class="{{ mark.color }}">
                                <td>
                                    {{ mark.subject.title }}
                                </td>
                                <td>
                                    {{ mark.teacher.title }}
                                </td>
                                <td class="text-right">
                                    {{ mark.mark }}
                                </td>
                                <td class="text-right">
                                    {{ mark.created|date('d.m.Y') }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        {% trans from "messages" %}empty_data{% endtrans %}
    {% endif %}
{% endblock %}